
* {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    color: #2a2a2a;
}

p, h1 {
    margin: 0;
    font-weight: 300;
}

#intro {

    margin: 20px;
    text-align: left;
    height: 600px;
}

.intro__info {
    width: 100%;
}

.intro__title {
    font-weight: 600;
    font-size: 2.5rem;
}

.intro__text {
    font-size: 1.4rem;
    word-spacing: 2px;
    display: inline-block;
    width: 45%;
    vertical-align: middle;
    margin-top: 20px;
}

.intro__img {
    margin-left: 80px;
}
/* demo */
#outro {
    height: 100%;
    border: 1px solid black;
    margin-left: 20px;
    margin-bottom: 30px;
}

.outro__text {
    margin-left: 20px;
    margin-bottom: 20px;
}

.build__btn {
    margin-left: 20px;
}
/* scrollama */
#scroll {
    position: relative;
}
.scroll__graphic {
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    background-color: #fff;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.scroll__graphic.is-fixed {
    position: fixed;
}
.scroll__graphic.is-bottom {
    bottom: 0;
    top: auto;
}
.chart {
    position: absolute;
    right: 2.5rem;
    top: 40%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.chart_data{

}

.chart p {
    text-align: center;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 8rem;
    font-weight: 900;
    color: #666;
}
.scroll__text {
    position: relative;
    max-width: 30rem;
    width: 33%;
}
.step {
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.step {
    opacity: 0.3;
}
.step.is-active {
    opacity: 1;
}
.step__title {
    text-align: left;
    /*padding: 1rem;*/
    font-size: 1.5rem;
}

.step__text {
    text-align: left;
    font-size: 1.2rem;
    padding-right: 50px;
}

.point {
    fill: #000;
    fill-opacity: 0.4;
}

.point--scanned {
    fill: orange;
    fill-opacity: 1;
    stroke: orange;
    stroke-width: 3px;
}

.point--selected {
    fill: red;
    fill-opacity: 1;
    stroke: red;
    stroke-width: 5px;
}

.node, .node2{
    fill: none;
    stroke: #ccc;
    shape-rendering: crispEdges;
}